.contact-information-container ul {
  display: flex;
  justify-content: space-around;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-link-container {
  display: contents;
}
