.navbar {
  background-color: var(--navbar-background-color);
  padding: 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.navbar li {
  padding: 0;
  display: flex;
  list-style-type: none;
  /* width: 8vw; */
  justify-content: center;
  align-items: center;
  /* padding: 0.5%;
  margin: 0.8%; */
}

.navbar a {
  text-decoration: none;
  color: var(--navbarA-color);
  font-size: calc(9px + 0.9vmin);
}

.darkmode-button {
  display: contents;
  cursor: pointer;
}

.darkmode-icon {
  width: 2%;
  background-color: var(--dark-mode-button-background-color);
  border-radius: 35%;
  padding: 0.5%;
  margin: 0.8%;
}
