* {
  /* border: solid 0.1px black; */
  padding: 1%;
  font-size: calc(9px + 1vmin);
  scroll-behavior: smooth;
}

#root {
  display: flex;
  justify-content: center;
}

.App {
  width: clamp(350px, 99%, 1200px);
  border: 5px solid #333;
  padding: 0;
}

.header p,
.main p {
  padding: 1%;
}

/* Global */
h1 {
  font-size: calc(12px + 3vmin);
  padding: 1%;
}

h2 {
  font-size: calc(10px + 2vmin);
  padding: 1%;
}

h3 {
  font-size: calc(9px + 1.5vmin);
  padding: 1%;
}
span {
  font-weight: bolder;
  font-style: italic;
  padding: 0;
}
